body {
    background: rgb(12, 8, 20);
    display: flex;
    justify-content: center;
    height: 100vh;
    padding-top: 10px;
    margin: 0;
    font-family: 'poppins', sans-serif;
}
.container {
    margin-top: 40px;
    display: flex;
    gap: 30px;
    width: 20%;
    height: 150px;
    box-shadow: 2px 2px 10px #aaaaaa;
    border-radius: 5px;
    padding: 30px;
}
.left {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: azure;
    border-radius: 5px;
}
.fa-solid {
    font-size: 250px;
    padding: 30px;
    color: #06dbca;
}
#timer {
    width: 50%;
}
#timer h2{
    color: #06dbca;
}
.counter{
    display: flex;
    gap: 30px;
    margin-top: 30px;
}
.box{
    background-color: #06dbca;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 50px;
    border-radius: 5px;
}
.box span{
    font-size: 30px;
}
.box p{
    margin: 0;
}
.name{
    display: flex;
    gap: 40px;
}